personal/render workflows/Get_Google_Calendar.json
{
  "name": "Get Google Calendar",
  "nodes": [
    {
      "parameters": {},
      "id": "78a40b9e-a716-4746-b19a-eadb48b2e97e",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        700,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92aa6d22-81a7-4acd-b31a-36fbfd8aea8c",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f082c308-79e8-4df2-9182-81af898135b0",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1500,
        360
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mjsavage@gmail.com",
          "mode": "list",
          "cachedResultName": "mjsavage@gmail.com"
        },
        "options": {}
      },
      "id": "8e94747f-afc8-49ee-81ac-6252a2387010",
      "name": "Google Calendar1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        1120,
        620
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "hIFOuMWiBYycUCul",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Take the input data and use it to call the Google Calendar Tool to get all my events for the time in question. Today's date is {{ $now }}\n\nInput data:  {{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f0f24ed9-1b02-45c8-8ed7-12aa70d8b66d",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        920,
        340
      ],
      "credentials": {
        "openAiApi": {
          "id": "dSUtQSSETvEyHK72",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": "show me my calendar for tomorrow"
        }
      }
    ]
  },
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8f9a4c4f-7603-4af6-ba22-0a3839e45e07",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f454f5b33fdf7acf0673d5d4d4542a30fa0428f29c35422bfe95ca36b2a50e9a"
  },
  "id": "ubyci771IIQQCVtm",
  "tags": []
}