personal/render workflows/Google_Task_Lookup_Tool.json
{
  "name": "Google Task Lookup Tool",
  "nodes": [
    {
      "parameters": {},
      "id": "92798ef5-c4c5-4d73-9ec5-deaca14add19",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        820,
        520
      ]
    },
    {
      "parameters": {
        "content": "## Google List Lookup Tool \n**Use this took in a workflow to pass a list name and task name to identify a task ID **",
        "height": 930.3284297429079,
        "width": 1563.9750945153978
      },
      "id": "b69f74d3-7638-4d4c-b8b4-72d7ef2e0771",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        60
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "={{ $json.message.content.List }}",
        "returnAll": true,
        "additionalFields": {}
      },
      "id": "3b2cc5d3-d0ac-4c89-a4ff-63cf9ed739e4",
      "name": "Google Tasks",
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [
        1520,
        340
      ],
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "2J1YmoMc1MBcjyLL",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5ac2a5e-f175-47ad-9b87-959a8188b819",
              "name": "task_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "5bed33ce-3b75-4540-a5ca-038dcb8e01e4",
              "name": "task_title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "f74ccf92-b5da-48b0-935d-86df0758f613",
              "name": "list_id",
              "value": "={{ $('OpenAI').first().json.message.content.List }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fbe8a526-8581-4b01-a648-2f25b2f472cb",
      "name": "Tasks and ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6164d80e-3ab4-4b7c-bee0-f9bc02f7adf5",
              "name": "response",
              "value": "={{ $json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "06f0eae4-3e24-4f2c-af82-0cd74cbe2519",
      "name": "Return JSON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1980,
        520
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Parse the data from the input query, always split the query and output your answers in the following format:\n- List (list id without \"list\")\n- Task Name (remaining query text)\n\nInput Query:  {{ $json.query }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "97b01b55-b602-473e-9dee-0b892a274e8d",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1080,
        520
      ],
      "credentials": {
        "openAiApi": {
          "id": "dSUtQSSETvEyHK72",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Tasks": {
      "main": [
        [
          {
            "node": "Tasks and ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tasks and ID": {
      "main": [
        [
          {
            "node": "Return JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Google Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "298c94d7-ceb8-46a9-a2ab-198e9470e839",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f454f5b33fdf7acf0673d5d4d4542a30fa0428f29c35422bfe95ca36b2a50e9a"
  },
  "id": "PF0KBY96io8vY0a3",
  "tags": []
}